 .u-section-1 {
  background-image: none;
  min-height: 626px;
}

.u-section-1 .u-image-1 {
  height: 39px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin: 1px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 20px;
}

.u-section-1 .u-shape-1 {
  width: 824px;
  height: 262px;
  background-image: none;
  --radius: 20px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -59px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 800;
  margin: 39px calc(((100% - 1140px) / 2)  + 138px) 0 calc(((100% - 1140px) / 2)  + 197px);
}

.u-section-1 .u-image-2 {
  height: 39px;
  margin-top: 0;
  margin-bottom: 1px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 815px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 91px;
    margin-right: 91px;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 689px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 65px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + -33px);
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 795px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    width: 415px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -13px;
    margin-right: calc(((100% - 540px) / 2)  + -4px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 737px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
  }
}